# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
gcloud-key.json
# Env files
.env
node_modules/
.env

# OS files
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Optional: if using VS Code
.vscode/

# Netlify
.netlify/

# Optional build files
build/
server/gcloud-key.json
server/gcloud-key.json
